In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from webdriver_manager.firefox import GeckoDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import regex as re
from sqlalchemy import create_engine

In [3]:
#Colocar senha
user = "root"
password = ""
url_banco = "localhost"
nome_db = "projeto2_f1"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"
print(conn_str)

mysql+pymysql://root:Mbp159572@localhost/projeto2_f1

In [4]:
def read_sql(query, engine):
    with engine.begin() as conn:
        results = pd.read_sql_query(sa.text(query), conn)
    return results
    
def execute_sql(query, engine):
    with engine.begin() as conn:
        results = conn.execute(
            sa.text(query)
            )
    return results

In [5]:
engine = create_engine(conn_str)

In [6]:
driver = webdriver.Chrome(executable_path=ChromeDriverManager().install())

C:\Users\Matheus\AppData\Local\Temp\ipykernel_3096\2786177129.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=ChromeDriverManager().install())

***API ERGAST***

*Buscando informações de como cada piloto finalizou a corrida de 2006 até 2022*

In [7]:
endpoint_status = 'https://ergast.com/api/f1/2006/circuits/interlagos/status.json'

In [8]:
response_status = requests.get(endpoint_status)
resultado_status = response_status.json()

In [9]:
pd_status = pd.json_normalize(resultado_status['MRData']['StatusTable']['Status'])

In [10]:
pd_status

  statusId count      status
0        1     9    Finished
1        3     1    Accident
2        4     2   Collision
3        6     1     Gearbox
4       11     5      +1 Lap
5       12     2     +2 Laps
6       22     2  Suspension

In [11]:
lst_status_resultado = []
for status in range(2006, 2020):
    endpoint_status = (f'https://ergast.com/api/f1/{status}/circuits/interlagos/status.json')
    response_status  = requests.get(endpoint_status)
    resultado_status = response_status.json()
    pd_status = pd.json_normalize(resultado_status['MRData']['StatusTable']['Status'])
    pd_status['year'] = status
    lst_status_resultado.append(pd_status)

In [12]:
pd_status = pd.concat(lst_status_resultado, axis=0)

In [13]:
pd_status

   statusId count      status  year
0         1     9    Finished  2006
1         3     1    Accident  2006
2         4     2   Collision  2006
3         6     1     Gearbox  2006
4        11     5      +1 Lap  2006
..      ...   ...         ...   ...
0         1    15    Finished  2019
1         4     2   Collision  2019
2        11     1      +1 Lap  2019
3        22     1  Suspension  2019
4       131     1  Power Unit  2019

[80 rows x 4 columns]

**Enviando dados para o SQL**

In [14]:
pd_status.to_sql('status_resultado_corrida', engine, index = False, if_exists = 'replace')

80

***Buscando informações da classificação final de 2006 até 2022***

In [15]:
endpoints_results = 'https://ergast.com/api/f1/2006/circuits/interlagos/results'

In [16]:
pd_results = []
for ano in range(2006, 2020):
    endpoint_results = (f'https://ergast.com/api/f1/{ano}/circuits/interlagos/results.json')
    response_results  = requests.get(endpoint_results)
    resultado_results = response_results.json()
    pd_resultado_corrida = pd.json_normalize(resultado_results['MRData']['RaceTable']['Races'][0]['Results'])
    pd_resultado_corrida['year'] = ano
    pd_results.append(pd_resultado_corrida)

In [18]:
pd_results = pd.concat(pd_results, axis=0)

In [19]:
pd_results.columns

Index(['number', 'position', 'positionText', 'points', 'grid', 'laps',
       'status', 'Driver.driverId', 'Driver.permanentNumber', 'Driver.code',
       'Driver.url', 'Driver.givenName', 'Driver.familyName',
       'Driver.dateOfBirth', 'Driver.nationality', 'Constructor.constructorId',
       'Constructor.url', 'Constructor.name', 'Constructor.nationality',
       'Time.millis', 'Time.time', 'FastestLap.rank', 'FastestLap.lap',
       'FastestLap.Time.time', 'FastestLap.AverageSpeed.units',
       'FastestLap.AverageSpeed.speed', 'year'],
      dtype='object')

In [20]:
pd_results_drop = pd_results.drop(columns=['number', 'positionText', 'Driver.permanentNumber', 'Time.millis', 'Constructor.url', 'Driver.url', 'Driver.code', 'Constructor.name'])

In [21]:
pd_results_drop.rename(columns = {'Driver.driverId':'driverId', 'Driver.givenName':'name', 'Driver.familyName' : 'familyname', 'Constructor.constructorId' : 'constructorId', 'Time.time' : 'time', 'FastestLap.Time.time' : 'fastestlap.time', 'fastestlap.AverageSpeed.speed' : 'fastestlap.averagespeed'}, inplace = True)

In [22]:
pd_results_drop

,position,points,grid,laps,status,driverId,name,familyname,Driver.dateOfBirth,Driver.nationality,constructorId,Constructor.nationality,time,FastestLap.rank,FastestLap.lap,fastestlap.time,FastestLap.AverageSpeed.units,FastestLap.AverageSpeed.speed,year
0,1,10,1,71,Finished,massa,Felipe,Massa,1981-04-25,Brazilian,ferrari,Italian,1:31:53.751,2,23,1:12.877,kph,212.857,2006
1,2,8,4,71,Finished,alonso,Fernando,Alonso,1981-07-29,Spanish,renault,French,+18.658,3,70,1:12.961,kph,212.612,2006
2,3,6,14,71,Finished,button,Jenson,Button,1980-01-19,British,honda,Japanese,+19.394,4,71,1:13.053,kph,212.344,2006
3,4,5,10,71,Finished,michael_schumacher,Michael,Schumacher,1969-01-03,German,ferrari,Italian,+24.094,1,70,1:12.162,kph,214.966,2006
4,5,4,2,71,Finished,raikkonen,Kimi,Räikkönen,1979-10-17,Finnish,mclaren,British,+28.503,6,58,1:13.281,kph,211.683,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,16,0,19,70,+1 Lap,kubica,Robert,Kubica,1984-12-07,Polish,williams,British,NaN,20,63,1:14.553,kph,208.072,2019
16,17,0,2,65,Collision,vettel,Sebastian,Vettel,1987-07-03,German,ferrari,Italian,NaN,5,51,1:11.384,kph,217.309,2019
17,18,0,14,65,Collision,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Italian,NaN,6,63,1:11.423,kph,217.190,2019
18,19,0,17,65,Suspension,stroll,Lance,Stroll,1998-10-29,Canadian,racing_point,British,NaN,10,65,1:12.603,kph,213.660,2019
19,20,0,4,51,Power Unit,bottas,Valtteri,Bottas,1989-08-28,Finnish,mercedes,German,NaN,1,43,1:10.698,kph,219.417,2019

In [23]:
dict_chuva = dict({'year' : [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
                   'chuva' : ['nao', 'nao', 'sim', 'nao', 'nao', 'nao', 'sim', 'nao', 'nao', 'nao', 'sim', 'sim', 'nao', 'nao']})

pd_chuva = pd.DataFrame(dict_chuva)

In [24]:
pd_chuva

    year chuva
0   2006   nao
1   2007   nao
2   2008   sim
3   2009   nao
4   2010   nao
5   2011   nao
6   2012   sim
7   2013   nao
8   2014   nao
9   2015   nao
10  2016   sim
11  2017   sim
12  2018   nao
13  2019   nao

In [25]:
pd.merge(pd_results_drop, pd_chuva, on="year", how="right")

,position,points,grid,laps,status,driverId,name,familyname,Driver.dateOfBirth,Driver.nationality,constructorId,Constructor.nationality,time,FastestLap.rank,FastestLap.lap,fastestlap.time,FastestLap.AverageSpeed.units,FastestLap.AverageSpeed.speed,year,chuva
0,1,10,1,71,Finished,massa,Felipe,Massa,1981-04-25,Brazilian,ferrari,Italian,1:31:53.751,2,23,1:12.877,kph,212.857,2006,nao
1,2,8,4,71,Finished,alonso,Fernando,Alonso,1981-07-29,Spanish,renault,French,+18.658,3,70,1:12.961,kph,212.612,2006,nao
2,3,6,14,71,Finished,button,Jenson,Button,1980-01-19,British,honda,Japanese,+19.394,4,71,1:13.053,kph,212.344,2006,nao
3,4,5,10,71,Finished,michael_schumacher,Michael,Schumacher,1969-01-03,German,ferrari,Italian,+24.094,1,70,1:12.162,kph,214.966,2006,nao
4,5,4,2,71,Finished,raikkonen,Kimi,Räikkönen,1979-10-17,Finnish,mclaren,British,+28.503,6,58,1:13.281,kph,211.683,2006,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,16,0,19,70,+1 Lap,kubica,Robert,Kubica,1984-12-07,Polish,williams,British,NaN,20,63,1:14.553,kph,208.072,2019,nao
294,17,0,2,65,Collision,vettel,Sebastian,Vettel,1987-07-03,German,ferrari,Italian,NaN,5,51,1:11.384,kph,217.309,2019,nao
295,18,0,14,65,Collision,leclerc,Charles,Leclerc,1997-10-16,Monegasque,ferrari,Italian,NaN,6,63,1:11.423,kph,217.190,2019,nao
296,19,0,17,65,Suspension,stroll,Lance,Stroll,1998-10-29,Canadian,racing_point,British,NaN,10,65,1:12.603,kph,213.660,2019,nao
297,20,0,4,51,Power Unit,bottas,Valtteri,Bottas,1989-08-28,Finnish,mercedes,German,NaN,1,43,1:10.698,kph,219.417,2019,nao

**Enviando dados para o SQL**

In [26]:
pd_results_drop.to_sql('resultado_pos_corrida', engine, index = False, if_exists = 'replace')

298

***Classificação para a corrida***

In [27]:
lst_classificacao = []
for clas in range(2006, 2020):
    endpoit_classificacao = (f'https://ergast.com/api/f1/{clas}/circuits/interlagos/qualifying.json')
    response_classificacao  = requests.get(endpoit_classificacao)
    resultado_classificacao = response_classificacao.json()
    json_classificacao = resultado_classificacao['MRData']['RaceTable']['Races'][0]['QualifyingResults']
    df_classificacao = pd.json_normalize(json_classificacao)
    df_classificacao['year'] = clas
    lst_classificacao.append(df_classificacao)

In [28]:
pd_classificacao = pd.concat(lst_classificacao, axis=0)

In [29]:
pd_classificacao

,number,position,Q1,Q2,Q3,Driver.driverId,Driver.permanentNumber,Driver.code,Driver.url,Driver.givenName,Driver.familyName,Driver.dateOfBirth,Driver.nationality,Constructor.constructorId,Constructor.url,Constructor.name,Constructor.nationality,year
0,6,1,1:10.643,1:10.775,1:10.680,massa,19,MAS,http://en.wikipedia.org/wiki/Felipe_Massa,Felipe,Massa,1981-04-25,Brazilian,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian,2006
1,3,2,1:12.035,1:11.386,1:11.299,raikkonen,7,RAI,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...,Kimi,Räikkönen,1979-10-17,Finnish,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British,2006
2,8,3,1:11.885,1:11.343,1:11.328,trulli,NaN,TRU,http://en.wikipedia.org/wiki/Jarno_Trulli,Jarno,Trulli,1974-07-13,Italian,toyota,http://en.wikipedia.org/wiki/Toyota_Racing,Toyota,Japanese,2006
3,1,4,1:11.791,1:11.148,1:11.567,alonso,14,ALO,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando,Alonso,1981-07-29,Spanish,renault,http://en.wikipedia.org/wiki/Renault_in_Formul...,Renault,French,2006
4,11,5,1:12.017,1:11.578,1:11.619,barrichello,NaN,BAR,http://en.wikipedia.org/wiki/Rubens_Barrichello,Rubens,Barrichello,1972-05-23,Brazilian,honda,http://en.wikipedia.org/wiki/Honda_Racing_F1,Honda,Japanese,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,26,16,1:09.320,NaN,NaN,kvyat,26,KVY,http://en.wikipedia.org/wiki/Daniil_Kvyat,Daniil,Kvyat,1994-04-26,Russian,toro_rosso,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso,Toro Rosso,Italian,2019
16,18,17,1:09.536,NaN,NaN,stroll,18,STR,http://en.wikipedia.org/wiki/Lance_Stroll,Lance,Stroll,1998-10-29,Canadian,racing_point,http://en.wikipedia.org/wiki/Racing_Point_F1_Team,Racing Point,British,2019
17,63,18,1:10.126,NaN,NaN,russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,1998-02-15,British,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British,2019
18,88,19,1:10.614,NaN,NaN,kubica,88,KUB,http://en.wikipedia.org/wiki/Robert_Kubica,Robert,Kubica,1984-12-07,Polish,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British,2019
19,55,20,,NaN,NaN,sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,1994-09-01,Spanish,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British,2019

In [30]:
pd_classificacao_drop = pd_classificacao.drop(columns=['number', 'Driver.permanentNumber', 'Constructor.url', 'Driver.url', 'Driver.code', 'Constructor.name'])
pd_classificacao_drop.rename(columns = {'Driver.driverId':'driverId', 'Driver.givenName':'name', 'Driver.familyName' : 'familyname', 'Constructor.constructorId' : 'constructorId', 'Driver.dateOfBirth' : 'dateofbirth'}, inplace = True)

In [31]:
pd_classificacao_drop

,position,Q1,Q2,Q3,driverId,name,familyname,dateofbirth,Driver.nationality,constructorId,Constructor.nationality,year
0,1,1:10.643,1:10.775,1:10.680,massa,Felipe,Massa,1981-04-25,Brazilian,ferrari,Italian,2006
1,2,1:12.035,1:11.386,1:11.299,raikkonen,Kimi,Räikkönen,1979-10-17,Finnish,mclaren,British,2006
2,3,1:11.885,1:11.343,1:11.328,trulli,Jarno,Trulli,1974-07-13,Italian,toyota,Japanese,2006
3,4,1:11.791,1:11.148,1:11.567,alonso,Fernando,Alonso,1981-07-29,Spanish,renault,French,2006
4,5,1:12.017,1:11.578,1:11.619,barrichello,Rubens,Barrichello,1972-05-23,Brazilian,honda,Japanese,2006
...,...,...,...,...,...,...,...,...,...,...,...,...
15,16,1:09.320,NaN,NaN,kvyat,Daniil,Kvyat,1994-04-26,Russian,toro_rosso,Italian,2019
16,17,1:09.536,NaN,NaN,stroll,Lance,Stroll,1998-10-29,Canadian,racing_point,British,2019
17,18,1:10.126,NaN,NaN,russell,George,Russell,1998-02-15,British,williams,British,2019
18,19,1:10.614,NaN,NaN,kubica,Robert,Kubica,1984-12-07,Polish,williams,British,2019
19,20,,NaN,NaN,sainz,Carlos,Sainz,1994-09-01,Spanish,mclaren,British,2019

**Enviando dados para o SQL**

In [32]:
pd_classificacao_drop.to_sql('treino_classificacao', engine, index = False, if_exists = 'replace')

298