In [1]:
from webdriver_manager.chrome import ChromeDriverManager
from webdriver_manager.firefox import GeckoDriverManager
import pandas as pd
import numpy as np
import requests
import regex as re
from sqlalchemy import create_engine

In [2]:
#colocar senha
user = "root"
password = ""
url_banco = "localhost"
nome_db = "projeto2_f1"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"
print(conn_str)

mysql+pymysql://root:Mbp159572@localhost/projeto2_f1

In [3]:
def read_sql(query, engine):
    with engine.begin() as conn:
        results = pd.read_sql_query(sa.text(query), conn)
    return results
    
def execute_sql(query, engine):
    with engine.begin() as conn:
        results = conn.execute(
            sa.text(query)
            )
    return results

In [4]:
engine = create_engine(conn_str)

In [5]:
driver = webdriver.Chrome(executable_path=ChromeDriverManager().install())

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.80M/6.80M [00:00<00:00, 12.0MB/s]
C:\Users\Matheus\AppData\Local\Temp\ipykernel_12688\2786177129.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=ChromeDriverManager().install())

In [6]:
list_ano_interlagos = [1973, 1974, 1975, 1976, 1977, 1979, 1980, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2022]

In [7]:
pd_results = []
for ano in list_ano_interlagos:
    endpoint_results = (f'https://ergast.com/api/f1/{ano}/circuits/interlagos/results.json')
    response_results  = requests.get(endpoint_results)
    resultado_results = response_results.json()
    pd_resultado_corrida = pd.json_normalize(resultado_results['MRData']['RaceTable']['Races'][0]['Results'])
    pd_resultado_corrida['year'] = ano
    pd_results.append(pd_resultado_corrida)

pd_results = pd.concat(pd_results, axis=0)

In [8]:
pd_results.columns

Index(['number', 'position', 'positionText', 'points', 'grid', 'laps',
       'status', 'Driver.driverId', 'Driver.url', 'Driver.givenName',
       'Driver.familyName', 'Driver.dateOfBirth', 'Driver.nationality',
       'Constructor.constructorId', 'Constructor.url', 'Constructor.name',
       'Constructor.nationality', 'Time.millis', 'Time.time', 'year',
       'Driver.code', 'Driver.permanentNumber', 'FastestLap.rank',
       'FastestLap.lap', 'FastestLap.Time.time',
       'FastestLap.AverageSpeed.units', 'FastestLap.AverageSpeed.speed'],
      dtype='object')

In [9]:
pd_results_drop = pd_results.drop(columns=['number', 'positionText', 'Driver.permanentNumber', 'Time.millis', 'Constructor.url', 'Driver.url', 'Driver.code', 'Constructor.name'])
pd_results_drop.rename(columns = {'Driver.driverId':'driverId', 'Driver.givenName':'name', 'Driver.familyName' : 'familyname', 'Constructor.constructorId' : 'constructorId', 'Time.time' : 'time', 'FastestLap.Time.time' : 'fastestlap.time', 'fastestlap.AverageSpeed.speed' : 'fastestlap.averagespeed'}, inplace = True)

In [10]:
dict_chuva = dict({'year' : [1973, 1974, 1975, 1976, 1977, 1979, 1980, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2022],
                   'chuva' : ['nao', 'sim', 'nao', 'nao', 'nao', 'nao', 'nao', 'nao', 'sim', 'nao', 'sim', 'nao', 'nao', 'sim', 'nao', 'nao', 'nao', 'nao', 'sim', 'nao', 'sim', 'sim', 'nao', 'nao', 'nao', 'sim', 'nao', 'nao', 'nao', 'sim', 'nao', 'nao', 'nao', 'sim', 'sim', 'nao', 'nao', 'nao']})

pd_chuva = pd.DataFrame(dict_chuva)

In [12]:
pd_results_chuva = pd.merge(pd_results_drop, pd_chuva, on="year", how="right")

In [13]:
pd_results_chuva

,position,points,grid,laps,status,driverId,name,familyname,Driver.dateOfBirth,Driver.nationality,constructorId,Constructor.nationality,time,year,FastestLap.rank,FastestLap.lap,fastestlap.time,FastestLap.AverageSpeed.units,FastestLap.AverageSpeed.speed,chuva
0,1,9,2,40,Finished,emerson_fittipaldi,Emerson,Fittipaldi,1946-12-12,Brazilian,team_lotus,British,1:43:55.6,1973,NaN,NaN,NaN,NaN,NaN,nao
1,2,6,8,40,Finished,stewart,Jackie,Stewart,1939-06-11,British,tyrrell,British,+13.5,1973,NaN,NaN,NaN,NaN,NaN,nao
2,3,4,5,40,Finished,hulme,Denny,Hulme,1936-06-18,New Zealander,mclaren,British,+1:46.4,1973,NaN,NaN,NaN,NaN,NaN,nao
3,4,3,17,39,+1 Lap,merzario,Arturo,Merzario,1943-03-11,Italian,ferrari,Italian,NaN,1973,NaN,NaN,NaN,NaN,NaN,nao
4,5,2,3,39,+1 Lap,ickx,Jacky,Ickx,1945-01-01,Belgian,ferrari,Italian,NaN,1973,NaN,NaN,NaN,NaN,NaN,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,16,0,18,71,Finished,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,British,+37.038,2022,11,59,1:15.327,kph,205.934,nao
864,17,0,0,70,+1 Lap,tsunoda,Yuki,Tsunoda,2000-05-11,Japanese,alphatauri,Italian,NaN,2022,13,63,1:15.508,kph,205.440,nao
865,18,0,6,50,Gearbox,norris,Lando,Norris,1999-11-13,British,mclaren,British,NaN,2022,18,48,1:15.855,kph,204.500,nao
866,19,0,8,0,Collision,kevin_magnussen,Kevin,Magnussen,1992-10-05,Danish,haas,American,NaN,2022,NaN,NaN,NaN,NaN,NaN,nao
867,20,0,11,0,Collision,ricciardo,Daniel,Ricciardo,1989-07-01,Australian,mclaren,British,NaN,2022,NaN,NaN,NaN,NaN,NaN,nao

In [14]:
pd_results_fillna = pd_results_chuva.fillna(0)

In [15]:
pd_results_fillna['position'] =pd_results_fillna['position'].astype(float)
pd_results_fillna['points'] =pd_results_fillna['points'].astype(float)
pd_results_fillna['grid'] = pd_results_fillna['grid'].astype(float)
pd_results_fillna['laps'] = pd_results_fillna['laps'].astype(float)

In [16]:
pd_results_fillna['FastestLap.rank'] = pd_results_fillna['FastestLap.rank'].astype(float)
pd_results_fillna['FastestLap.lap'] = pd_results_fillna['FastestLap.lap'].astype(float)
pd_results_fillna['FastestLap.AverageSpeed.speed'] = pd_results_fillna['FastestLap.AverageSpeed.speed'].astype(float)

In [17]:
pd_results_fillna

,position,points,grid,laps,status,driverId,name,familyname,Driver.dateOfBirth,Driver.nationality,constructorId,Constructor.nationality,time,year,FastestLap.rank,FastestLap.lap,fastestlap.time,FastestLap.AverageSpeed.units,FastestLap.AverageSpeed.speed,chuva
0,1.0,9.0,2.0,40.0,Finished,emerson_fittipaldi,Emerson,Fittipaldi,1946-12-12,Brazilian,team_lotus,British,1:43:55.6,1973,0.0,0.0,0,0,0.000,nao
1,2.0,6.0,8.0,40.0,Finished,stewart,Jackie,Stewart,1939-06-11,British,tyrrell,British,+13.5,1973,0.0,0.0,0,0,0.000,nao
2,3.0,4.0,5.0,40.0,Finished,hulme,Denny,Hulme,1936-06-18,New Zealander,mclaren,British,+1:46.4,1973,0.0,0.0,0,0,0.000,nao
3,4.0,3.0,17.0,39.0,+1 Lap,merzario,Arturo,Merzario,1943-03-11,Italian,ferrari,Italian,0,1973,0.0,0.0,0,0,0.000,nao
4,5.0,2.0,3.0,39.0,+1 Lap,ickx,Jacky,Ickx,1945-01-01,Belgian,ferrari,Italian,0,1973,0.0,0.0,0,0,0.000,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,16.0,0.0,18.0,71.0,Finished,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,British,+37.038,2022,11.0,59.0,1:15.327,kph,205.934,nao
864,17.0,0.0,0.0,70.0,+1 Lap,tsunoda,Yuki,Tsunoda,2000-05-11,Japanese,alphatauri,Italian,0,2022,13.0,63.0,1:15.508,kph,205.440,nao
865,18.0,0.0,6.0,50.0,Gearbox,norris,Lando,Norris,1999-11-13,British,mclaren,British,0,2022,18.0,48.0,1:15.855,kph,204.500,nao
866,19.0,0.0,8.0,0.0,Collision,kevin_magnussen,Kevin,Magnussen,1992-10-05,Danish,haas,American,0,2022,0.0,0.0,0,0,0.000,nao
867,20.0,0.0,11.0,0.0,Collision,ricciardo,Daniel,Ricciardo,1989-07-01,Australian,mclaren,British,0,2022,0.0,0.0,0,0,0.000,nao

In [18]:
pd_results_fillna['status'] = pd_results_fillna['status'].replace(to_replace=r'[^\w\s]', value='')

pd_results_fillna.status.replace({'+3 Laps': '3 Laps or +',
                                 '+4 Laps': '3 Laps or +',
                                 '+5 Laps' : '3 Laps or +',
                                 '+26 Laps' : '3 Laps or +',
                                 '+7 Laps' : '3 Laps or +',
                                 '+6 Laps': '3 Laps or +',
                                 '+8 Laps': '3 Laps or +',
                                 '+9 Laps': '3 Laps or +',
                                 '+3 Laps': '3 Laps or +',
                                 'Overheating': 'Mechanical',
                                 'Turbo': 'Mechanical',
                                 'Power Unit': 'Mechanical',
                                 'Hydraulics': 'Mechanical',
                                 'Gearbox': 'Mechanical',
                                 'Suspension': 'Mechanical',
                                 'Fuel leak ': 'Mechanical',
                                 'Radiator' : 'Mechanic',
                                 'Oil pump': 'Mechanical',
                                 'Chassis' : 'Mechanical',
                                 'Fuel leak' : 'Mechanic',
                                 'Halfshaft' : 'Mechanical',
                                 'Engine': 'Mechanical',
                                 'Brakes': 'Mechanical',
                                 'Ignition' : 'Mechanical',
                                 'Fuel system' : 'Mechanical',
                                 'Mechanic' : 'Mechanical',
                                 'Throttle' : 'Mechanical',
                                 'Collision damage' : 'Accident',
                                 'Collision' :'Accident',
                                 'Out of fuel': 'Other',
                                 'Excluded': 'Other',
                                 'Withdrew': 'Other',
                                 'Wheel' : 'Other',
                                 'Handling' : 'Other',
                                 'Physical' : 'Other',
                                 'Stalled' : 'Other',
                                 'Injury' : 'Other',
                                 'Wheel rim': 'Other',
                                 'Puncture' : 'Other'
                                 
              }, inplace=True)
pd_results['status'].value_counts()

Finished            249
+1 Lap              188
+2 Laps              63
Engine               45
Collision            42
Accident             38
Gearbox              34
Spun off             31
Did not qualify      22
+3 Laps              21
Suspension           19
Electrical           15
+4 Laps              11
Hydraulics            8
Clutch                8
Fuel system           7
Transmission          5
Retired               5
Overheating           5
+7 Laps               3
Steering              3
Out of fuel           3
Brakes                3
Throttle              3
Oil pressure          2
Disqualified          2
+6 Laps               2
Fuel pump             2
Mechanical            2
Safety concerns       2
Ignition              2
Oil leak              2
+26 Laps              1
+9 Laps               1
Collision damage      1
Wheel rim             1
Excluded              1
Withdrew              1
Stalled               1
+8 Laps               1
Fuel leak             1
Injury                1
+5 Laps               1
Physical              1
Radiator              1
Puncture              1
Halfshaft             1
Turbo                 1
Oil pump              1
Handling              1
Chassis               1
Wheel                 1
Power Unit            1
Name: status, dtype: int64

In [19]:
pd_results_fillna

,position,points,grid,laps,status,driverId,name,familyname,Driver.dateOfBirth,Driver.nationality,constructorId,Constructor.nationality,time,year,FastestLap.rank,FastestLap.lap,fastestlap.time,FastestLap.AverageSpeed.units,FastestLap.AverageSpeed.speed,chuva
0,1.0,9.0,2.0,40.0,Finished,emerson_fittipaldi,Emerson,Fittipaldi,1946-12-12,Brazilian,team_lotus,British,1:43:55.6,1973,0.0,0.0,0,0,0.000,nao
1,2.0,6.0,8.0,40.0,Finished,stewart,Jackie,Stewart,1939-06-11,British,tyrrell,British,+13.5,1973,0.0,0.0,0,0,0.000,nao
2,3.0,4.0,5.0,40.0,Finished,hulme,Denny,Hulme,1936-06-18,New Zealander,mclaren,British,+1:46.4,1973,0.0,0.0,0,0,0.000,nao
3,4.0,3.0,17.0,39.0,+1 Lap,merzario,Arturo,Merzario,1943-03-11,Italian,ferrari,Italian,0,1973,0.0,0.0,0,0,0.000,nao
4,5.0,2.0,3.0,39.0,+1 Lap,ickx,Jacky,Ickx,1945-01-01,Belgian,ferrari,Italian,0,1973,0.0,0.0,0,0,0.000,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,16.0,0.0,18.0,71.0,Finished,latifi,Nicholas,Latifi,1995-06-29,Canadian,williams,British,+37.038,2022,11.0,59.0,1:15.327,kph,205.934,nao
864,17.0,0.0,0.0,70.0,+1 Lap,tsunoda,Yuki,Tsunoda,2000-05-11,Japanese,alphatauri,Italian,0,2022,13.0,63.0,1:15.508,kph,205.440,nao
865,18.0,0.0,6.0,50.0,Mechanical,norris,Lando,Norris,1999-11-13,British,mclaren,British,0,2022,18.0,48.0,1:15.855,kph,204.500,nao
866,19.0,0.0,8.0,0.0,Accident,kevin_magnussen,Kevin,Magnussen,1992-10-05,Danish,haas,American,0,2022,0.0,0.0,0,0,0.000,nao
867,20.0,0.0,11.0,0.0,Accident,ricciardo,Daniel,Ricciardo,1989-07-01,Australian,mclaren,British,0,2022,0.0,0.0,0,0,0.000,nao

**Enviando dados para o SQL**

In [20]:
pd_results_fillna.to_sql('resultado_pos_corrida', engine, index = False, if_exists = 'replace')

868

**Arquivo csv**

In [22]:
pd_results_fillna.to_csv('data/pd_results_fillna.csv',
                 index=False,
                 sep='\t')